<!-- Product -->
<div class="mt-5 pt-3">
<div class="bg0 m-t-23 p-b-140 mt-5 pt-5">
    <div class="container">
        <div class="flex-w flex-sb-m p-b-52">
            <div class="flex-w flex-l-m filter-tope-group m-tb-10">
                <button class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5 how-active1" data-filter="*">
                    All Products
                </button>
                <% category.forEach(function(item){ %>
                <button class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5" data-filter=".<%= item.name %>">
                    <%= item.name %>
                </button>
            <% }) %>
                
            </div>
        </div>

        <div class="row isotope-grid">
            <% products.forEach(function(product){ %>
            <div class="col-sm-6 col-md-4 col-lg-3 p-b-35 isotope-item <%= product.category %>  ">
                <!-- Block2 -->
                <div class="block2">
                    <div class="block2-pic hov-img0">
                        <img src="/product/<%= product.image1 %>" alt="IMG-PRODUCT">
            <!-- js-show-modal1 class edited-->
                        <a href="/product-details?id=<%= product._id %>"
                            class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04">
                            View Product
                        </a>
                    </div>

                    <div class="block2-txt flex-w flex-t p-t-14">
                        <div class="block2-txt-child1 flex-col-l ">
                            <a id="product-name" class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
                                <%= product.name %>
                            </a>

                            <% if(product.proOffer) { %>
                                <span class="stext-105 cl3">
                                    Rs: <b>
                                        <%= product.price %>
                                    </b>
                                </span>
                                <span class="stext-105 cl3">
                                    Rs: <del>
                                        <%= product.actualPrice %>
                                    </del> <span class="text-success"><b>
                                            <%= product.offerPercentage %>% off
                                        </b></span>
                                </span>
                                <% } else if (product.categOffer) { %>
                                    <span class="stext-105 cl3">
                                        Rs: <b>
                                            <%= product.price %>
                                        </b>
                                    </span>
                                    <span class="stext-105 cl3">
                                        Rs: <del>
                                            <%= product.actualPrice %>
                                        </del> <span class="text-success"><b>
                                                <%= product.offerPercentage %>% off
                                            </b></span>
                                    </span>
                                    <% } else { %>
                                        <span class="stext-105 cl3">
                                            Rs: <b>
                                                <%= product.actualPrice %>
                                            </b>
                                        </span>
                                        <% } %>
                        </div>

                        <div class="block2-txt-child2 flex-r p-t-3">
                            <p class="btn-addwish-b2 dis-block pos-relative js-wish-detail " onclick="addToWishList('<%= product._id %>')">
                                <img class="icon-heart1 dis-block trans-04" src="images/icons/icon-heart-01.png"
                                    alt="ICON">
                                <img class="icon-heart2 dis-block trans-04 ab-t-l" src="images/icons/icon-heart-02.png"
                                    alt="ICON">
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <% }) %>
        </div>

    </div>
</div>
</div>
